/* #region GENERAL STYLES */
:root {
    --blue: rgb(8, 96, 211);

    --textColor: rgb(27, 27, 27);
    --mailBgColor: rgb(241, 241, 241);
    --mainBgColor: rgb(248, 248, 248);

    --textColorDark: rgb(231, 231, 231);
    --mailBgColorDark: rgb(27, 27, 27);
    --mainBgColorDark: rgb(34, 34, 34);

    --siblingSpacing: 10px;
    --sectionSpacing: 40px;
}

/* #region AUTO SWITCH BETWWEEN DARK AND LIGHT MODE based on browser setting*/
@media (prefers-color-scheme: dark) {
    #emailBody {
        background-color: var(--mailBgColorDark);
        color: var(--textColorDark);
    }

    #bgTable {
        background-color: var(--mainBgColorDark);
    }
}

@media (prefers-color-scheme: light) {
    #emailBody {
        background-color: var(--mailBgColor);
        color: var(--textColor);
    }

    #bgTable {
        background-color: var(--mainBgColor);
    }
}

/* #endregion  AUTO SWITCH END*/

.hidden {
    display: none;
}

.textSizeL,
h1 {
    font-size: 30px;
    line-height: 35px;
}

.textSize2,
h2 {
    font-size: 16px;
    line-height: 18px;
}

.textSize3,
h3 {
    font-size: 14px;
}

.textSizeS,
h4 {
    font-size: 12px;
}

#emailBody {
    border-collapse: collapse;
}

#emailBody tr>td>table {}

.linkButton1 {
    background-color: var(--blue);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    line-height: 40px;
    width: 40%;
}

.twoCellGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--siblingSpacing);
}

.twoCellGrid>.posterTableLinked {
    width: 250px;
}

.posterTableLinked {
    text-decoration: none;
}

.sectionMargin {
    padding-top: var(--sectionSpacing);
    display: block;
}

.sectionSmallMargin {
    padding-top: 10px;
    display: block;
}

@media only screen and (max-width: 480px) {
    .linkButton1 {
        width: 100%;
        line-height: 60px;
        border-radius: 30px;
    }

    .twoCellGrid {
        flex-direction: column;
    }

    .twoCellGrid>.posterTableLinked {
        width: 100%;
        margin: 0;
    }

    .twoCellGrid>.posterTableLinked:not(:first-child) {
        margin-top: var(--siblingSpacing);
    }
}


.footerTable tr {
    display: grid;
}

/* #endregion GENERAL STYLES END */

/* #region HEADER */
#header {
    line-height: 1;
}

#header>td {
    padding: 0 var(--siblingSpacing);
}

#header>td:first-child {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header img[alt="logo"] {
    object-fit: contain;
    max-width: 200px;
}

#header>td:nth-child(2) {
    text-align: right;
}

/* #endregion HEADER END*/

/* #region POSTER TABLE */
.posterTable tr:not(.poster, .titlePoster)>td {
    padding: 0 30px;
}

.posterTable .poster img {
    padding-bottom: 20px;
}

.posterTable .description p {
    text-align: justify;
    text-align-last: center;
}

.posterTable .title {
    font-weight: 900;
}

.posterTable .linkButtons td {
    display: flex;
    justify-content: center;
}

/* #endregion */

/* #region posterTableLinked*/
.posterTableLinked {
    margin: 0;
    color: inherit;
    /* so the text color switches with dark/light mode */
}

.posterTableLinked .poster {
    padding-bottom: 5px;
}

/* #endregion posterTableLinked END*/

/* #region titlePoster */
.horizontalPoster .description {
    text-align: justify;
    text-align-last: center;
    padding: 0 var(--siblingSpacing);
}

@media only screen and (max-width: 480px) {
    /* .horizontalPoster td{
        display: block;
    } */
}

/* #endregion titlePoster END*/